html{

	font-size: 52.5%;
	@include mq(small){
		font-size: 62.5%;
	}


}
body{
	font-size: $body-font;
	font-family: $helvetica;
	margin: 0 auto;


}
#search-header{
	text-align: center;
	@include mq(medium){
	text-align: left;
 }
}
#page-header{
	font-size: 2rem;
	color: $light-color;
	background: $dark-color;
	@extend %highlight;
	text-align: center;
	@include mq(medium){
	font-size:3rem;
 }
}

h4{
	color: $light-color;
	font-size: 1.5rem;
}
.container, header{
	margin-left: auto;
	margin-right: auto;
	width:90%;
 @include mq(large){
	max-width: 1000px;
}

}
header{
	background: transparent;
	z-index: 99999;
  top: 2rem;
  position:absolute;
  left:0;
  right:0;
}

footer{
	background: $dark-color;
	padding: 2rem 0;
	margin-top:5rem;
}
.hero{
	background: #111111 url('../img/concert-photo.jpg') no-repeat top center;
	height:50vh;
	background-size:cover;
	width: 100%;
  display: table;
  position: relative;
}
.center{
	@extend %center-element;
}
.center-text{
	@extend %center-text;
}
.section-padding{
  @extend %section-padding;
}
.clearfix:after {
    content:"\0020";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
    overflow:hidden;
    margin-bottom:10px;
}

.clearfix {
  display:block;
}
.search-wrap{
	position:relative;
	top:10px;
}
.form{
	display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.search-form{
    padding:1.5rem;
    width:60%;
    margin:0 20%;
    text-align:center;
    max-width:700px;
    min-width:150px;

		label{
		background: $dark-color;
		color:#fff;
		padding:1rem;
		@extend %highlight;
		text-align:left;
		}
		.search-input{
	    padding: 1.5rem;
	    color: #666;
	    font-size: 16px;
	    font-weight: 400;
	    border-radius: 0px;
	    background:#d8d8d8;
	    width:100%;
	    display:inline-block;
	    margin:0;
	    height:55px;
	    }

	}
.result-container{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;

}
.result-item{

	width: 300px;
	padding: 1%;
	margin-bottom: 2rem;
	@include mq(large){
			width:30%;
	}
		div{
		color: $accent-color;
		background: $dark-color;
		@extend %highlight;
		margin-top:0px;
		}
		h3{
		margin:0;
		}
		img{
		margin-bottom:-5px;
		}
	}
	input{
	appearance:none;
	}
